@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kdam+Thmor+Pro&family=Montserrat:ital,wght@0,800;1,400;1,600&family=Oooh+Baby&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
}

header {
    width: 100%;
    height:100vh;
    background-color: rgb(19, 17, 17);
}


/* nav-bar */
nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

.left {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
    cursor: pointer;
    opacity: 0;
    animation: to-top 2s ease-out 2.5s forwards;
}
@keyframes to-top {
    from {opacity: 0; transform: translateY(-100%);}
    to {opacity: 1; transform: translateY(0%);}
}
.left .circle {
    width: 17%;
    height: 17%;
    background-color: rgb(172, 172, 172);
    border-radius: 50px;
}
.left:hover .circle {
    animation: hamburger-menu .5s forwards;
}
@keyframes hamburger-menu {
    0% {width: 0%; border-radius: 50px; background-color: rgb(100, 2, 2);}
    25% {width: 25%; border-radius: 40px; background-color: rgb(110, 2, 2);}
    50% {width: 50%; border-radius: 30px; background-color: rgb(120, 2, 2);}
    75% {width: 75%; border-radius: 20px; background-color: rgb(130, 2, 2);}
    100% {width: 100%; border-radius: 15px; background-color: rgb(140, 2, 2);}
}
@media (max-width:425px) {
    .left {
        width: 2.5rem;
        height: 2.5rem;
    }
}

.right {
    width: 40%;
}
.right ul{
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.right ul li {
    min-width: 75px;
    font-size: 20px;
    text-align: center;
    list-style: none;
    color: rgb(172, 172, 172);
    cursor: pointer;
}
.right ul .login {
    color: rgb(133, 2, 2);
    opacity: 0;
    animation: to-bottom 2s ease-out .5s forwards;
}
.right ul .products {
    opacity: 0;
    animation: to-bottom 2s ease-out 1s forwards;
}
.right ul .buy {
    opacity: 0;
    animation: to-bottom 2s ease-out 1.5s forwards;
}
.right ul .home {
    opacity: 0;
    animation: to-bottom 2s ease-out 2s forwards;
}
@keyframes to-bottom {
    from {opacity: 0; transform: translateY(100%);}
    to {opacity: 1; transform: translateY(0%);}
}
.right ul li:hover {
    color: rgb(255, 205, 56);
    transition: all .5s;
}
@media (max-width:768px) {
    .right {
        width: 60%;
    }
}
@media (max-width:425px) {
    .right ul li {
        font-size: 17.5px;
    }
}
/* end of nav-bar */


/* middle */
.big-text {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.big-text h1 {
    color: rgba(172, 172, 172, .5);
    font-size: 90px;
    opacity: 0;
    animation: to-right 2s ease-out 5s forwards;
}
@keyframes to-right {
    0% {opacity: 0; transform: translateX(-100%) skew(0deg);}
    80% {opacity: .8; transform: translateX(10%);}
    100% {opacity: 1; transform: translateX(0%) skew(-15deg);}
}
.big-text .speed {
    color: rgba(172, 172, 172, .5);
    font-size: 90px;
    opacity: 0;
    animation: fastest-text .2s ease-in 7s forwards;
}
@keyframes fastest-text {
    0% {opacity: 0; transform: translateX(-100%) skew(0deg);}
    80% {opacity: .8; transform: translateX(10%);}
    100% {opacity: 1; transform: translateX(0%) skew(-15deg);}
}
@media (max-width:768px) {
    .big-text h1,
    .big-text .speed {
        font-size: 85px;
    }
}
@media (max-width:425px) {
    .big-text h1,
    .big-text .speed {
        font-size: 70px;
    }
}
.big-text .color-ch {
    animation: color-change .5s ease-out 7.5s forwards;
}
@keyframes color-change {
    from {color: rgba(172, 172, 172, .5);}
    to {color: rgb(140, 2, 2);}
}
/* end of middle */


/* social-links */
.social-links {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.social-links p{
    min-width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    color: rgb(172, 172, 172);
    cursor: pointer;
    animation: to-left 2s ease-out;
}
@media (max-width:425px) {
    .social-links p {
    font-size: 23px;
    }
}
.social-links p:hover {
    color: rgb(133, 2, 2);
    transition: all .5s;
}
.social-links .facebook {
    opacity: 0;
    animation: to-left 2s ease-out 8s forwards;
}
.social-links .linkedin {
    opacity: 0;
    animation: to-left 2s ease-out 8.5s forwards;
}
.social-links .twitter {
    min-width: 130px;
    opacity: 0;
    animation: to-left 2s ease-out 9s forwards;
}
@keyframes to-left {
    from {opacity: 0; transform: translateX(100%);}
    to {opacity: 1; transform: translateX(0%);}
}